@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bottom-btn {
  margin: 20px 0px 20px 20%;
}
.bottom-btn button {
  padding: 5px 20px;
  border-radius: 5px;
  left: 20%;
}

.product-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}
.card {
  border: 1px solid gray;
  text-align: center;
  margin: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}
.title {
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 50px;
  text-align: center;
}
.images {
  height: 250px;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 1s;
}
.images:hover {
  transform: scale(1.1);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
}
.price {
  font-weight: bold;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 10px;
}
.pro-button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  margin: 10px 10px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.heart {
  text-align: center;
  margin: 10px 0px;
}

@media (max-width:900px){
  #cards{
    grid-template-columns: repeat(2,1fr);
  }

}
@media (max-width:600px) {
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
 
}

